<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
            />
        </Console>
        <Sentry name="SENTRY" />
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" />
            <!-- Note that the Sentry logging threshold is overridden to the WARN level -->
            <AppenderRef ref="SENTRY" level="WARN" />
        </Root>
    </Loggers>
</Configuration>

